<?xml version="1.0"?>

<model>
  <name>Desk</name>
  <version>1.0</version>
  <sdf version="1.4">desk.sdf</sdf>

  <author>
    <name>Placido Falqueto</name>
    <email>placido.falqueto@unitn.it</email>
  </author>

  <description>
    This model represent the mounting desk of the ur5 robotic arm
  </description>
</model>
